.title {
  margin-bottom: 20px;
}

.container {
  display: flex;
  position: relative;
  flex-direction: column;
}


.container > .side {
  flex: 0;
  padding: 30px;
  overflow: hidden;
}

.container .description {
  flex: 1;
  padding: 30px;
  white-space: pre-line;
}

.backdrop {
  height: 100%;
  width: 100%;
  position: absolute;
  -webkit-background-size: cover;
  background-size: cover;
  opacity: 0.2;
  z-index: -1;
  border-radius: 3px;
}

.poster {
  border-radius: 3px;
  width: 100%;
}

@media (--phone) {
  .container.video {
    flex-direction: column;
  }
  .container {
    flex-direction: row;
  }
  .container > .side {
    overflow: inherit;
  }
  .container.video > .side {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 50%;
  }
  .container:not(.video) .description {
    padding-left: 0px; 
  }
  .poster {
    width: auto;
    height: 100%;
  }
  .videoThumbnail {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
}
