.header {
  padding: 60px 0 20px;
  display: flex;
}

.header .logo {
  flex: 0;
}

.header .menu {
  flex: 1;
  text-align: right;
  display: inline-flex;
  flex-direction: row-reverse;
}

.menuList {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 33px;
  position: fixed;
  z-index: 10;
  top: 0;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  background-color: white; 
}

.menuItem {
  display: block;
  text-align: center;
  padding: 20px;
  font-size: 1.4em;
}

.menuItemLink:last-child {
  margin-right: 0;
}

.menuItemLink {
  display: inline-block;
  margin: 0 20px;
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.2s ease-in-out;
}

.menuIcon {
  display: inline-block;
  background: white;
  padding: 2px;
  border: solid 1px #989494;
  border-radius: 3px;
}

.showMenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 50px 0;
}

.icon {
  vertical-align: middle;
}

.menuItemLink:hover {
  cursor: pointer;
}

.menuItem:nth-child(1) .menuItemLink:hover, .menuItem:nth-child(1) .menuItemLink.selected {
  border-bottom: 1px solid #CB4AB0;
}

.menuItem:nth-child(2) .menuItemLink:hover, .menuItem:nth-child(2) .menuItemLink.selected {
  border-bottom: 1px solid #49B1DE;
}

.menuItem:nth-child(3) .menuItemLink:hover, .menuItem:nth-child(3) .menuItemLink.selected {
  border-bottom: 1px solid #61C482;
}

.menuItem:nth-child(4) .menuItemLink:hover, .menuItem:nth-child(4) .menuItemLink.selected  {
  border-bottom: 1px solid #F5C15F;
}

.menuItem:nth-child(5) .menuItemLink:hover, .menuItem:nth-child(5) .menuItemLink.selected {
  border-bottom: 1px solid #EB7835; 
}

.menuItem:nth-child(6) .menuItemLink:hover, .menuItem:nth-child(6) .menuItemLink.selected {
  border-bottom: 1px solid #EB5242;
}

.menuItem:nth-child(7) .menuItemLink:hover, .menuItem:nth-child(7) .menuItemLink.selected {
  border-bottom: 1px solid violet;
}

.add {
  border-radius: 3px;
  padding: 5px 15px;
  color: white;
  background-color: #714bca;
  text-align: center;
  display: inline-block;
  margin-right: 25px;
  font-size: 0.9em;
  font-weight: 700;
  letter-spacing: 0.2px;

  &:hover {
    cursor: pointer;
  }
}

@media (--desktop) {
  .menuIcon {
    display: none;
  }
  .menuList {
    display: inline;
    position: static;
    background-color: transparent;
  }
  .menuItem {
    display: inline-block;
    padding: 0px;
    font-size: 1em;
  }
  .header .menu {
    display: block
  }
  .add {
    margin-right: 0px;
    margin-left: 25px;
  }
}