@custom-media --table-viewport (max-width: 1024px);

.container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  letter-spacing: 0.1px;
}

@media (--table-viewport) {
  .container {
    padding: 0 40px;
  }
}

.content {
  flex: 1;
  padding: 30px 0;
}