.container {
  max-width: 1024px;
  margin: 0 auto;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  letter-spacing: 0.1px;
  padding: 0 30px;
}

@media (--phone) {
  .container {
    padding: 0 20px;
  }
}

@media (--large-desktop) {
  .container {
    padding: 0px;
  }
}

.content {
  flex: 1;
  padding: 30px 0;
}

.banner {
  background-color: #61c482;
  padding: 5px 0;
  text-align: center;
  color: white;
  font-weight: 600;
  letter-spacing: 0.2px;
  color: hsla(0,0%,100%,.90);
}

.banner .link {
  color: white;
  text-decoration: underline;
  display: inline-block;
  margin-left: 4px;
}