.movie {
  background-color: #65DBC1;
  width: 146px;
  height: 210px;
  border-radius: 3px;
  display: inline-block;
  background-size: 100%;
  position: relative;
}

.rating {
  opacity: 0;
  transition: opacity 200ms ease-in;
  position: absolute;
  bottom: 0;
  font-weight: 600;
  color: white;
  right: 10px;
}

.coverOverlay {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgba(23,23,23,0.4);
  transition: opacity 200ms ease-in;
}

.coverOverlay:hover, .coverOverlay:hover + .rating{
  cursor: pointer;
  opacity: 1;
}

.movieContainer {
  display: inline-block;
  margin-left: -1px;
  margin-right: 25px;
  margin-bottom: 25px;
}

a.movieContainer:nth-child(6n){
  margin-right: 0px;
}